<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Football</title>
</head>
<body>
    <div style="width: 100%;
            height: 100%;
            background-color: #f2f2f2;
            padding: 20px;" align="center">
        <h1>Football</h1>
        <h2 style="color: green;">Congrats, you made it!</h2>

        <div align="left">
            <p>Hi <strong style="color: green;">{username}</strong>,</p>

            <p>Welcome to the site! This site is mainly made to keep track our weekly football meetup. Previously, we had to miss a week of play due to miscommunication issue. Hopefully, this website will solve the problem. We hope you enjoy your stay. Cheers!</p>

            <p>Regards<br>Team Football</p>
        </div>
    </div>
</body>
</html>